@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap" );
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cover {
    background-size: cover;
    background-position: 100% 100vh;
}

.custom-slider {
    overflow-y: hidden !important;
  }
  
  .bigdiv::-webkit-scrollbar{
    width: 0;
  }